*{margin: 0;padding: 0;}
.nav{
    height: 400px;
    width: 800px;
    margin: auto auto;
    border: 1px solid;
    position: relative;
}
.top{
    height: 50px;
    width: 800px;
    background-color: #efefef;
}
h2{
    line-height: 50px;
    color: red;
    margin-left: 20px;
}
span{
    position: absolute;
    left: 130px;
    top: 15px;
}
.time{
    position: absolute;
    left: 220px;
    top: 15px;
}
strong{
    padding: 0 10px;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    background-color: black;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    height: 20px;
    width: 130px;
    cursor: pointer;
    border-radius: 10px;
}
.li1{
    position: absolute;
    top: 15px;
    right: 200px;
}
.li2{
    position: absolute;
    top: 15px;
    right: 20px;
}
img{
    height: 350px;
    width: 196.4px;
}
.container{
    display: none;
}
.active1{
    color: white;
    background-color: rgb(255, 35, 34);
}
.active2{
    display: block;
}